@{
    ViewBag.Title = "Index";
    //Layout = "~/Views/Shared/MasterPage.cshtml";
}
<div class="container">
    <a href="/Home/Customer">New Customer</a>
    <br />
    <a href="/Home/Results">View Records</a>
</div>